<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
    <meta charset="utf-8">
    <title>{% block title %}Musikverket {% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://tools-static.wmflabs.org/cdnjs/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
    <link rel="stylesheet" href="https://tools-static.wmflabs.org/cdnjs/ajax/libs/twitter-bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta property="og:image" content="{{url_for('static', filename='social.png')}}">
    {% endblock head %}
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <a href="{{ url_for('index') }}" class="navbar-brand">Musikverket</a>
      {{ authentication_area() }}
      <a href="{{ url_for('leaderboard') }}" class="navbar-text" style="margin-left: 5px;">Topplista</a>
    </nav>
    <main class="container mt-3">
      {% block main %}
      {% endblock main %}
    </main>
    <footer>
      <hr>
      <p>Om något inte fungerar vänligen kontakta <a href="mailto:albin.larsson@raa.se">albin.larsson@raa.se</a> / <a href="https://meta.wikimedia.org/wiki/User_talk:Abbe98">Användare:Abbe98</a>.</p>
    </footer>
  </body>
</html>
