{% extends "base.html" %}
{% block main %}

<div class="progress" style="width: 97%; position: absolute; bottom: 5px;">
    <div class="progress-bar" id="progressbar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100">Framsteg</div>
</div>

    <img id="image" alt="...Loading Image..." src="">
    <div class="descriptions">
        <h2 id="title"></h2>
        <p><b>Beskrivning:</b> <span id="desc"></span></p>
        <div class="form-group">
            <label>
                Engelska: <input id="translation" class="form-control" type="text" style="" placeholder="your description translation">
            </label><br>
            <button class="btn btn-primary" onclick="autofill()">Utgå från Google Translate</button>
            <button class="btn btn-primary" onclick="fetchAndPopulate()">Hoppa över</button>
            <button class="btn btn-primary" onclick="save()">Spara</button>
        </div>
    </div>
<style>
  body {
      display: flex;
      flex-direction: column;
  }

  h2 {
      font-size: 1.5rem;
      font-weight: 700;
  }

  .navbar {
      justify-content: space-between;
      flex: 0 1 auto;
  }

  .container {
      max-width: unset;
      display: flex;
      padding: 0 1rem;
      flex: 1 1 auto;
  }

  img {
      object-fit: contain;
  }

  label {
      display: inline-block;
      margin-bottom: .5rem;
      width: 100%;
  }

  @media all and (max-width: 800px) {

      .container {
          flex-direction: column;
      }

      img {
          max-height: 50%;
          object-position: 50% 0;
          width: 100%;
      }

      .descriptions {
          width: 100%;
          padding-top: 1rem;
      }
  }

  @media all and (min-width: 801px) {

      .container {
          flex-direction: row;
      }

      img {
          max-height: 100%;
          max-width: 50%;
          object-position: 0 0;
          padding-right: 1rem;
      }

      .descriptions {
      }
  }
</style>

<script>
let taskSource;
let title;
let pageid;

let autofillValue;
String.prototype.replaceAll = function(search, replacement) {
    var target = this;
    return target.replace(new RegExp(search, 'g'), replacement);
};

function autofill() {
  document.querySelector('#translation').value = autofillValue;
}

function fetchAndPopulate() {
  $.ajax('{{ url_for('get_task') }}').done(function(response, textStatus, request) {
    console.log(request.getResponseHeader('Task'))
    console.log(response)

    taskSource = request.getResponseHeader('Task');

    console.log(request.getResponseHeader('Progress'));
    document.querySelector('#progressbar').style.width = request.getResponseHeader('Progress') + '%';

    title = response.title;

    document.querySelector('#title').innerText = response.title.replaceAll('_', ' ').replace('File:', '');
    document.querySelector('#image').src = ''; // clear to avoid showing wrong image
    document.querySelector('#image').src = response.thumbnail;
    document.querySelector('#desc').innerText = response.desc;

    autofillValue = response.auto_desc.translatedText;
    document.querySelector('#translation').value = '';
  });
}

function save() {
  let engTranslation = document.querySelector('#translation').value;
  if (engTranslation <= 10) {
    console.log('toshort');
    return;
  }

  $.post('{{ url_for('save') }}', JSON.stringify({
    source: taskSource,
    page: title,
    trans: engTranslation
  })).done(function(response) {
    console.log(response);
    fetchAndPopulate();
  });
}

fetchAndPopulate();
</script>

{% endblock %}
